<% if user_signed_in? %>
  <nav>
  <h1><%= title %></h1>
  <li class="navs"><a href=<%= groups_path %>>Home</a></li>
  <% if logout %>
    <%= button_to destroy_user_session_path, method: :delete do %>
      <i class="fa fa-sign-out fa-2x"></i>
    <% end %>
  <% end %>
  </nav>
<% end %>
